html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Menjaga footer tetap di bawah */
}

.header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
}

.code {
    padding: 20px;
    border-radius: 5px;
}

.copy-button {
    border: 1px solid #000000;
    border-radius: 3px;
}

.code-block {
    max-height: 300px;
    overflow-y: auto;
    background-color: #282c34;
    font-family: monospace;
    padding: 10px;
    word-wrap: break-word;
}

.list-group-item {
    color: #0000FF;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .container h1, .container p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 430px) {
    .container h1, .container p {
        font-size: 1.1rem;
    }
}